body {
    background-color: white;
    padding-bottom: 0;
    overflow-y: hidden;
}

footer {
    display: none;
}

hr {
    display: none;
}

.search-filter-container {
    height: 800px; 
    overflow-y: clip;
}

.search-container {
    height:100%;
    display:flex;
}

.search-container-left {
    width: 70%; 
    height: 100%; 
    padding-right: 1em;
}

.tool-search-input {
    width: 100%; 
    height: 40px; 
    border-radius: 10px; 
    border: solid 1px gray; 
    margin-bottom: 1em; 
    padding-left: 1em; 
    padding-right: 1em;
}

.results-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: max-content max-content max-content max-content; 
    overflow-y: scroll; 
    height: 740px;
}

.filters-container {
    width: 30%; 
    font-size: small; 
    overflow-y: scroll;
}

.filters-container-mobile {
    display: none;
    position: relative;
    background-color: white;
    padding-bottom: 2em;
    width: 100%;
    max-height: 20em;
    overflow-y: scroll;
}

.filter-button {
    display: none;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 1.1em;
    left: 0.4em;
    width: 2.25em;
    height: 2.25em;
}

@media only screen and (max-width: 750px) {
    body {
        overflow-y: scroll;
    }

    .main-content-wrap {
        padding-top: 0; 
    }

    .search-filter-container {
        height: 100%;
    }
    
    .search-container {
        display: block;
    }

    .search-container-left {
        width: 100%;
        height: 100%;
        padding-right: 0em;
    }

    .results-container {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: max-content;
        overflow-y: hidden;
        height: 100%;
    }

    .filter-button {
        display:block;
    }

    .tool-search-input {
        padding-left: 3em;
    }

    .filters-container {
        display: none;
    }

    .mobile-search-container {
        position: sticky;
        top: 0em;
        padding-top: 1em;
        background-color: white;
    }
}